/*NAPOMENA: Ovde se nalazi i css za navbar sa leve strane!*/

html,body{
  margin: 0 auto;
  padding: 0;
  height: 100%;
  position: relative;
  width: 100%;
  min-height: 100%;
}

.nav_box{
  margin: 0 auto;
  position: absolute;
  border-color: black;
  width: 99%;
  height: 27em;
  border-bottom: solid;
  left: 0.2em;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -142px;
}

.main_box{
  margin: 0 auto;
  position: absolute;
  border-color: black;
  width: 99%;
  height: 30em;
  border-top: solid;
  top: 27em;
  left: 0.2em;
}

.top_left {
    position: absolute;
    left: 25%;
    width: 15%;
    height: 38%;
    top: 0.1em;
    background-color: rgb(91, 170, 21);
}

.reklama_jedan {
    width: 100%;
    height: 100%;
}

.bottom_left {
    position: absolute;
    left: 25%;
    width: 15%;
    height: 45%;
    top: 10em;
    background-color: rgb(91, 170, 21);
}

.reklama_dva {
    width: 100%;
    height: 100%;
}

.right {
  position: absolute;
  left: 43%;
  top: 0.1em;
  width: 50%;
  height: 83%;
  background-color: rgb(91, 170, 21);
}

.reklama_tri {
    width: 100%;
    height: 100%;
}

.left {
  position: absolute;
  left: 7%;
  width: 12.8%;
  padding-top: 0.1%;
  /*background-color: rgb(91, 170, 21);*/
}

.logo{
  width: 100%;
  height: 17%;
  padding-top: 1%;
}

.footer{
  position: relative;
	margin-top: 100px; /* negative value of footer height */
	height: 142px;
	clear:both;
}

.pin {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 0px;
	padding: 13px;
	padding-bottom: 0px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
  width: 22.8em;
  max-width: 23em;
}

.pin img {
	width: 21em;
  height: 13em;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}

.nopadding {
   padding-left: 0em !important;
   margin: 0 !important;
}

.border_all_solid{
  border: 1px solid #ccc;
}

.border_bot_solid{
  border-bottom: 1px solid #ccc;
}

.text-center{
  text-align: center;
}
