/*NAPOMENA: Ovde se nalazi i css za navbar sa leve strane!*/

html,body{
  height: 100%;
}

.nav_box{
  margin: 0 auto;
  position: absolute;
  border-color: black;
  width: 99%;
  height: 27em;
  border-bottom: solid;
  left: 0.2em;
}

.page-wrap {
  min-height: 100%;
  height: 100%;
  margin: 0 auto -142px;
}

.main_box{
  margin: 0;
  position: absolute;
  border-color: black;
  width: 99%;
  /*border: solid;*/
  top: 27em;
  display:inline-block;
  left: 0.2em;
}

.top_left {
    position: absolute;
    left: 25%;
    width: 15%;
    height: 38%;
    top: 0.1em;
    background-color: rgb(91, 170, 21);
}

.reklama_jedan {
    width: 100%;
    height: 100%;
}

.bottom_left {
    position: absolute;
    left: 25%;
    width: 15%;
    height: 45%;
    top: 10em;
    background-color: rgb(91, 170, 21);
}

.reklama_dva {
    width: 100%;
    height: 100%;
}

.right {
  position: absolute;
  left: 43%;
  top: 0.1em;
  width: 50%;
  height: 83%;
  background-color: rgb(91, 170, 21);
}

.reklama_tri {
    width: 100%;
    height: 100%;
}

.left {
  position: absolute;
  left: 7%;
  width: 12.8%;
  padding-top: 0.1%;
  /*background-color: rgb(91, 170, 21);*/
}

.logo{
  width: 100%;
  height: 17%;
  padding-top: 1%;
}

.futer{
  position: relative;
	margin: 0 auto; /* negative value of footer height */
	height: 100px;
}

.pin {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 10px 5px 0px;
	padding: 13px 13px  0 13px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
  width: 22.8em;
  max-width: 23em;
  outline-offset: 20px;
  height: 100%;
}

.pin img {
	width: 21em;
  height: 13em;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}

.nopadding {
   padding-left: 0em !important;
   margin: 0 !important;
}

.border_all_solid{
  border: 1px solid #ccc;
}

.border_bot_solid{
  border-bottom: 1px solid #ccc;
}

.text-center{
  text-align: center;
}

.kategorijaPadding{
  padding: 100px;
}

.content-box {
  border: 1px solid #000000;
  column-width: 20px;
  column-count:
}

.pushBox{
  padding: 10px 0 10px 0;
}

.pushFuter{
  padding-top: 150px;
}

.kreirajVaucerPadd{
  padding-left: 13em;
  padding-top: 1.5em;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.btnKreiraj {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Georgia;
  color: #faf2fa;
  font-size: 22px;
  padding: 5px 11px 5px 13px;
  text-decoration: none;
}

.btnKreiraj:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.txtKreirajVaucer,select{
  width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
}

.sbmKreirajVaucer{
  width: 100%;
   background-color: #4CAF50;
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

.sbmKreirajVaucer:hover{
  background-color: #45a049;
}
